@model Factory.Models.Engineer

<section class="card">
  <div class="card-header">
    <h2 class="card-title">Create a new engineer</h2>
  </div>

  <div class="card-body">
    <form 
      asp-controller="Engineer"
      asp-action="Create"
    >
      <div class="row mb-3">
        <label 
          asp-for="Name"
          class="col-sm-2 col-form-label"
        ></label>
        <input 
          asp-for="Name"
          class="form-control"
          required
        />
      </div>

      <button 
        type="submit"
        class="btn btn-primary"
      >Create Engineer</button>
    </form>
  </div>
</section>