@using Factory.Models
@model Engineer
@{
  ViewData["Title"] = "Engineers";
}

<h1>Engineer Information</h1>

<dl>
  <dt>Name</dt>
  <dd>@Model.Name</dd>
</dl>

<h2>Machines Licensed For</h2>

<form asp-action="Create">
  <select
    asp-items="@ViewBag.Machines"
    class="form-select"
    required
  ></select>
</form>

<partial name="/Views/Machine/_MachinesTable.cshtml" model="@Model.Machines" />