<nav>
    <a href="/" class="brand">
      <img src="~/img/favicon.ico" />
      <h1>Home</h1>
    </a>

    <ul>
      <li class="nav-item">
        <a 
          asp-controller="Machine" 
          asp-action="Index"
        >Machines</a>
      </li>

      <li class="nav-item">
        <a 
          asp-controller="Engineer" 
          asp-action="Index"
        >Engineers</a>
      </li>
    </ul>

    <ul class="pull-right">
      <li>
        <a 
          href="https://github.com/AlyxMoon/epicodus-project12-the-factory"
          target="_blank">
          Github Repo
        </a>
      </li>
    </ul>
  </nav>