<nav>
    <a href="/" class="brand">
      <img src="~/img/favicon.ico" />
      <h1>Home</h1>
    </a>

    <ul>
    </ul>

    <ul class="pull-right">
      <li>
        <a 
          href="https://github.com/AlyxMoon/epicodus-project12-the-factory"
          target="_blank">
          Github Repo
        </a>
      </li>
    </ul>
  </nav>