@model Factory.Models.Machine

<section class="card my-3">
  <div class="card-header">
    <h2 class="card-title">Edit Machine</h2>
  </div>

  <div class="card-body">
    <form 
      asp-controller="Machine"
      asp-action="Edit"
      asp-route-machineId="@Model.MachineId"
    >
      <input type="hidden" asp-for="MachineId" />

      <div class="row mb-3">
        <label 
          asp-for="Name"
          class="col-sm-2 col-form-label"
        ></label>
        <div class="col-sm-10">
          <input 
            asp-for="Name"
            class="form-control"
            required
          />
        </div>
      </div>

      <div class="row mb-3">
        <label 
          asp-for="Product"
          class="col-sm-2 col-form-label"
        ></label>
        <div class="col-sm-10">
          <input 
            asp-for="Product"
            class="form-control"
            required
          />
        </div>
      </div>

      <button 
        type="submit"
        class="btn btn-primary"
      >Update</button>
    </form>
  </div>
</section>