@using Factory.Models
@model System.Collections.Generic.List<Machine>
@{
  ViewData["Title"] = "Machines";
}

<h1>Welcome to the factory</h1>
<h2>The factory must grow</h2>

<partial name="_FormAddNew" model="new Machine()" />
<partial name="_MachinesTable" model="Model" />
